<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<style>
    body {
    background: rgb(170, 224, 249);
    background: -moz-linear-gradient(180deg, rgba(170, 224, 249, 1) 0%, rgba(234, 209, 211, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(170, 224, 249, 1) 0%, rgba(234, 209, 211, 1) 100%);
    background: linear-gradient(180deg, rgba(170, 224, 249, 1) 0%, rgba(234, 209, 211, 1) 100%);
    filter: ;
    progid: DXImageTransform.Microsoft.gradient(startColorstr="#aae0f9", endColorstr="#ead1d3", GradientType=1);
    -webkit-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#aae0f9", endColorstr="#ead1d3", GradientType=1);
}
html,body{
    height: 100%;
}
h1{
    margin-top: 30px !important;
    color: white;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.452);
}
.contact_form{ 
    height: auto;
    margin: 80px auto;
    margin-top: 10px;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }  
.contact_form input, select, button{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #9292CD; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}
.contact_form label{
    display: block;
    float: center;
}  color: white;

.content-header{
    display: flex;
    justify-content: space-around;
}
h2{
    text-align: center;
    color: #9292CD;
}
.agrupar{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.alinear{
    display: flex;
    align-items: center ;
}
.alinear a{
    width: 50%;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.buttons button{
    border: none;
    color: white;
    transition: 505ms;
}
.save {
    background-color: green;
}
.cancel {
    background-color: red;
}
section{
    width: 900px;
    margin: 0;
    padding: 0 !important;
    padding-top: 30px !important;
    padding-bottom: 20px !important;
}
</style>
    <body>

        <form action="" method="POST">
    <% admin.forEach((datosAdmin) => { %>
        <div align="center">
            <h1 class="txt-c7">Editar Alumno: <%= datosAdmin.id_estudiante %></h1>
        </div>
    <section class="contact_form">
        <div class="agrupar">
            <div class="content1">
                    <div class="content-header">
                        <h2>Información Alumno</h2>
                    </div>
                    <div>
                        <div>
                            <label>Matricula</label>
                            <input value="<%= datosAdmin.id_estudiante %>" type="number" name="id_estudiante" id="id">
                        </div>
                        <div>
                            <label>Nombre</label>
                            <input autocomplete="off" value="<%= datosAdmin.nombre %>" type="text" name="nombre" id="">
                        </div>
                        <div>
                            <label>Enlace Boleta</label>
                            <input autocomplete="off" value="<%= datosAdmin.link_boleta %>" type="text" name="link_boleta" id="">
                        </div>
                    </div>

                </div>

            <div class="content1">
                <h2>Nivel Educativo</h2>
                <div>
                    <label>Sección</label>
                    <select name="seccion" required>
                        <option value=""><%= datosAdmin.seccion %></option>
                        <option value="Educacion Inicial">Esducacion Inicial</option>
                        <option value="Preescolar">Preescolar</option>
                        <option value="Primaria">Primaria</option>
                        <option value="Secundaria">Secundaria</option>
                    </select>
                </div>
                <div>
                    <label>Grupo</label>
                    <input autocomplete="off" value="<%= datosAdmin.grupo %>" type="text" name="grupo"id="">
                </div>
                <h2>Información De Tutor</h2>
                <div>
                    <label>Nombre del Tutor</label>
                    <input autocomplete="off" type="text" value="<%= datosAdmin.nombre_tutor %>" name="nombre_tutor" required id="">
                </div>
                <div>
                    <label>Telefono del Tutor</label>
                    <input autocomplete="off" value="<%= datosAdmin.tel_tutor %>" type="tell" maxlength="10" name="tel_tutor" required id="">
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="save" type="submit">Guardar</button>
            <button class="cancel" onclick="history.back()">Cancelar</button>
        </div>
    </section>
        <% }) %>
    </form>
    
</body>
</html>