<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %> 

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <%- include('partials/navbar.ejs') %> 
<br>
      <div align="center">
        <a href="/admin" class="btn-nv btn btn2 bg-c2 mx-2">Ver Todos</a>  
        <a href="/admin-Educacion_Inicial" class="btn-nv btn btn2 bg-c2 mx-2">Eduación Incial</a>
        <a href="/admin-Preescolar" class="btn-nv btn btn2 bg-c2 mx-2">Prescolar</a>
        <a href="/admin-Primaria" class="btn-nv btn btn2 bg-c2 mx-2">Primaria</a>
        <a href="/admin-Secundaria" class="btn-nv btn btn2 bg-c2 mx-2">Secundaria</a>  
      </div>
      <br>
      <h1><%- subtitle %></h1>
<hr>
  <div>
    <h4 class="text-center txt-c2">Administración</h4>
  </div>
        <div class="text-center">
            <form action="#"> 
            <div>
            <input type="text" placeholder="&#xF52A; Buscar Alumnos" id="Buscador" class="busqueda" >
            </div>
            </form>
        </div>

    <section class="container mt-4">
        <table class="table table-striped bg-c7 sbr-1">
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nombre</th>
                    <th>Seccion</th>
                    <th>Grupo</th>
                    <th>Nombre del Tutor</th>
                    <th>Telefono del Tutor</th>
                    <th>Colegiatura</th>
                    <!-- <th>Boleta</th> -->
                    <th>Gestionar</th>
                </tr>
            </thead>
            <tbody id="Tbody">
                <% admin.forEach((datosAdmin) => { %>
                    <tr class="text-center">
                        <td><%= datosAdmin.id_estudiante %> </td>
                        <td><%= datosAdmin.nombre %> </td>
                        <td><%= datosAdmin.seccion %> </td>
                        <td><%= datosAdmin.grupo %> </td>
                        <td><%= datosAdmin.nombre_tutor %> </td>
                        <td><%= datosAdmin.tel_tutor %> </td>
                        <td>$ <%= datosAdmin.colegiatura %></td>
                        <!--<td><a href="<%= datosAdmin.link_boleta %>" class="btn btn2 bg-c3 hint--top hint--medium hint--bounce" aria-label="Editar enlace de boleta" style="font-family: Bootstrap-icons;">&#xF470;</a></td> -->
                        <td class="d-flex justify-content-center acciones">
                            <form action="/admin/borrar" method="POST">
                                <input type="hidden" value="<%= datosAdmin.id_estudiante %>" name="id">
                                <button class="btn delr hint--top-left hint--error hint--medium hint--bounce" aria-label="Eliminar el registro de la base de datos" style="font-family: bootstrap-icons;">&#xF78A;</button>
                            </form>
                            <form action="/admin/enviarEnfermeria" method="POST">
                                <input type="hidden" value="<%= datosAdmin.id_estudiante %>" name="id_estudiante">
                                <input type="hidden" value="" name="talla"><input type="hidden" value="" name="peso"><input type="hidden" value="" name="IMC"><input type="hidden" value="Sin Informaciòn" name="alergias"><input type="hidden" value="Sin Informaciòn" name="enfermedades"><input type="hidden" value="Sin Informaciòn" name="observaciones">
                                <button class="btn subirenf hint--top hint--medium hint--bounce" aria-label="Subir registro a enfermeria. Esto solo funciona una vez" style="font-family: bootstrap-icons;">&#xF783;</button>
                            </form>
                            <a class="btn editRegist hint--top-right hint--info hint--medium hint--bounce" aria-label="Editar el registro <%= datosAdmin.id_estudiante %>"  style="font-family: bootstrap-icons;" href="/admin/editarRegistro/<%= datosAdmin.id_estudiante %>">&#xF4CA;</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </section>
    <%- include('../partials/footer.ejs') %>
 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function(){
            $("#Buscador").on("keyup",function(){
                var value = $(this).val().toLowerCase();
                $("#Tbody tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    </script>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>

</html>