<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://frameworkccpcss.000webhostapp.com/framework.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Pruebas</title>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <nav class="menu">
        <ul>
            <li><a href="">Inicio<a></li>
            <li><a href="admin/nuevoRegistro">registrar<a></li>
            <li><a href="">servicios<a></li>
            <li><a href="">Historia<a></li>
            <li><a href="">Contacto<a></li>	
        </ul>
    </nav>

    <section>

        <table>
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nombre</th>
                    <th>Seccion</th>
                    <th>Grupo</th>
                    <th>Nombre del Tutor</th>
                    <th>Telefono del Tutor</th>
                    <th>Colegiatura</th>
                    <th>Boleta</th>
                    <th>Gestionar</th>
                </tr>
            </thead>
            <tbody>
                <% admin.forEach((datosAdmin) => { %>
                    <tr>
                        <td><%= datosAdmin.id_estudiante %> </td>
                        <td><%= datosAdmin.nombre %> </td>
                        <td><%= datosAdmin.seccion %> </td>
                        <td><%= datosAdmin.grupo %> </td>
                        <td><%= datosAdmin.nombre_tutor %> </td>
                        <td><%= datosAdmin.tel_tutor %> </td>
                        <td>$ <%= datosAdmin.colegiatura %></td>
                        <td><a href="<%= datosAdmin.link_boleta %>">Ver enlace</a></td>
                        <td>
                            <form action="/admin/borrar" method="POST">
                                <input type="hidden" value="<%= datosAdmin.id_estudiante %>" name="id">
                                <button>Borrar</button>
                            </form>
                            <form action="/admin/enviarEnfermeria" method="POST">
                                <input type="hidden" value="<%= datosAdmin.id_estudiante %>" name="id_estudiante">
                                <input type="hidden" value="" name="talla"><input type="hidden" value="" name="peso"><input type="hidden" value="" name="IMC"><input type="hidden" value="Sin Informaciòn" name="alergias"><input type="hidden" value="Sin Informaciòn" name="enfermedades"><input type="hidden" value="Sin Informaciòn" name="observaciones">
                                <button>Enfermeria</button>
                            </form>
                            <a href="/admin/editarRegistro/<%= datosAdmin.id_estudiante %>">Editar</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </section>
 
</body>

</html>