<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %> 

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <%- include('partials/navbar.ejs') %> 
<br>
      <div align="center">
        <a href="/admin" class="btn-nv btn btn2 bg-c2 mx-2">Ver Todos</a>  
        <a href="/admin-Educacion_Inicial" class="btn-nv btn btn2 bg-c2 mx-2">Eduación Incial</a>
        <a href="/admin-Preescolar" class="btn-nv btn btn2 bg-c2 mx-2">Prescolar</a>
        <a href="/admin-Primaria" class="btn-nv btn btn2 bg-c2 mx-2">Primaria</a>
        <a href="/admin-Secundaria" class="btn-nv btn btn2 bg-c2 mx-2">Secundaria</a>  
      </div>
      <br>
      <h1 class="sbr-text"><%- subtitle %></h1>
<hr>
  <div class="text-center ">
    <h4 class="txt-c2 ">Administración</h4>
    <p>Cantidad de registros actuales: <b><%= total%></b></p>
</div>
        <div class="text-center">
            <form action="#"> 
            <div>
            <input autocomplete="off" type="search" placeholder="&#xF52A; Buscar Alumnos" id="Buscador" class="busqueda" >
            </div>
            </form>
        </div>

    <section class="container mt-4">
        <table class="table align-middle table-striped bg-c7 sbr-1">
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nombre</th>
                    <th>Seccion</th>
                    <th>Grupo</th>
                    <th>Nombre del Tutor</th>
                    <th>Telefono del Tutor</th>
                    <th>Colegiatura</th>
                    <!-- <th>Boleta</th> -->
                    <th>Gestionar</th>
                </tr>
            </thead>
            <tbody class="table align-middle" id="Tbody">
                <% if(total > 0) { 
                admin.forEach((datosAdmin) => { %>
                    <tr class="border text-center align-items-center align-center">
                        <td><%= datosAdmin.id_estudiante %></td>
                        <td><%= datosAdmin.nombre %> </td>
                        <td><%= datosAdmin.seccion %> </td>
                        <td><%= datosAdmin.grupo %> </td>
                        <td><%= datosAdmin.nombre_tutor %> </td>
                        <td><%= datosAdmin.tel_tutor %> </td>
                        <td>
                            <a href="/admin-Colegiaturas/<%= datosAdmin.id_estudiante %>">Ver Colegiaturas</a>
                        </td>
                        <td class="d-flex justify-content-center acciones">
                        <!--ANCHOR BUTTON ELIMINAR-->
                            <form action="/admin/borrar" onsubmit="return seguro()" method="POST">
                                <input type="hidden" value="<%= datosAdmin.id_estudiante %>" name="id">
                                <button id="del" class="btn delr hint--top-left hint--error hint--medium hint--bounce btn-gestion-admin" aria-label="Eliminar el registro de la base de datos"><!--&#xF78A;--><i class="bi bi-person-dash"></i></button>
                            </form>
                            <a class="btn editRegist hint--top-right hint--info hint--medium hint--bounce btn-gestion-admin" aria-label="Editar el registro <%= datosAdmin.id_estudiante %>" href="/admin/editarRegistro/<%= datosAdmin.id_estudiante %>"><!--&#xF4CA;--><i class="bi bi-pencil-square"></i></a>
                        </td>
                    </tr>
                <% }) } else {%>
                    <tr>
                        <td colspan="8" class="text-center"><i class="bi bi-file-excel"></i> No hay Registros</td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </section>

    <%- include('../partials/footer.ejs') %>
 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function seguro(){
            var seguro = window.confirm('Seguro que deseas eliminar esté registro?');
            if(seguro === false){
                return false
            }

        }
    </script>
    <script>
      $(document).ready(function(){
            $("#Buscador").on("keyup",function(){
                var value = $(this).val().toLowerCase();
                $("#Tbody tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    </script>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>

</html>