<!DOCTYPE html>
<%- include('../partials/head.ejs') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <body>
        <%- include('./partials/navbar.ejs') %>

        <section class="container ">
            <br>
            <h1 class="sbr-text">Mensajes Disponibles</h1>
            <br>
            <div class="bg-c7 p-4 sbr-1 container-roud">

                <% adminMensajes.forEach( datosAdmin => {%>
                   <% if (datosAdmin.num == 0) {%> 
                        <article class="m-3">
                            <form action="/admin-mensajes/delete" method="POST">
                                <div class="card mensaje-ver sbr-1">
                                    <div class="card-header d-flex justify-content-between"><h6><%= datosAdmin.nombre %></h6>
                                        <input type="hidden" name="idmensajes" value="<%= datosAdmin.idmensajes %>">
                                        <button type="submit" class="btn btn2 bg-c4"><i class="bi bi-trash-fill"></i> Borrar</button>
                                    </div>
                                    <div class="card-body">
                                        <textarea disabled class="textareaCountainer"><%= datosAdmin.mensaje %></textarea>
                                        <hr>
                                        <div class="d-flex justify-content-between footercard">
                                            <i><%= datosAdmin.contacto %></i><p><%= datosAdmin.fecha %> </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </article>
                    <% }else{ %> 
                            <div class="text-center">
                                <h4><i class="bi bi-envelope-exclamation"></i> Por el momento no hay nuevos mensajes...</h4>
                                <hr>
                                <a href="javascript: history.go(-1)" class="btn btn7">Volver atrás</a>
                            </div>  
                        <% } %> 
                <% }) %>

                    
            </div>
        </section>
        <script>
            $("textarea").each(function () {
              this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
            }).on("input", function () {
              this.style.height = "auto";
              this.style.height = (this.scrollHeight) + "px";
            });
          </script>
        
        <%- include('../partials/footer.ejs') %> 

        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    </body>
</html>