<!DOCTYPE html>
<%- include('../partials/head.ejs') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <body>
        <%- include('./partials/navbar.ejs') %>

        <section class="container">
            <br>
            <h1 class="sbr-text">Mensajes Disponibles</h1>
            <br>
                <%if(adminMensajes.length > 0){ adminMensajes.forEach( datosAdmin => {%>
                        <article>
                            <form class="mensaje" action="/admin-mensajes/delete" method="POST">
                                <div class="mensaje_contenedor sbr-1">
                                    <input type="hidden" name="idmensajes" value="<%= datosAdmin.idmensajes %>">
                                    <div class="mensaje__datos">
                                        <div class="mensaje_datos_persons">
                                            <i class="bi bi-person-lines-fill"></i>
                                            <p><%= datosAdmin.nombre %></p>
                                            <p><%= datosAdmin.contacto %></p>
                                        </div><!--fin de .mensaje_datos_persons-->
                                        <div class="mensaje_datos_body">
                                            <textarea disabled readonly class="mensaje__textarea"><%= datosAdmin.mensaje %></textarea>
                                        <p><i class="bi bi-calendar3"></i> <%= datosAdmin.fecha %></p>
                                        </div>
                                    </div><!--fin de .mensaje__datos-->
                                    <button class="mensaje_eliminar"><i class="bi bi-trash3"></i></button>
                                </div> <!--fin de .mensaje__contenedor-->
                            </form>
                        </article>
                <% }); }else{%>
                    <div class="bg-c7 sbr-1" style="text-align: center; padding: 40px; border-radius: 30px;">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mailbox" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#242424" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M10 21v-6.5a3.5 3.5 0 0 0 -7 0v6.5h18v-6a4 4 0 0 0 -4 -4h-10.5" />
                            <path d="M12 11v-8h4l2 2l-2 2h-4" />
                            <path d="M6 15h1" />
                          </svg>
                        <h5>No hay mensajes por el momento...</h5>
                    </div>
                <%}%>
                </section>
        <script>
            $("textarea").each(function () {
              this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
            }).on("input", function () {
              this.style.height = "auto";
              this.style.height = (this.scrollHeight) + "px";
            });
          </script>
        
        <%- include('../partials/footer.ejs') %> 

        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    </body>
</html>