<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Sección</th>
                <th>Grupo</th>
                <th>Boleta</th>
                <th>Colegiatura</th>
            </tr>
        </thead>
        <tbody>
            <% tutor.forEach(datos => { %>
             <tr>
                 <td><%= datos.nombre %></td>
                 <td><%= datos.seccion %></td>
                 <td><%= datos.grupo %></td>
                 <td><a href="<%= datos.link_boleta %>">Ver boleta</a></td>
                 <td><%= datos.colegiatura %></td>
             </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>