<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body class="homeTutor">

<%- include('partials/navbar.ejs') %> 
  <br>

    <section class="container">

        <article>
          <div class="row">
            <div class=" col-md-4 align-self-center">
              <div class="card sbr-1 m-2">
                <img class="img-thumbnail" src="img/noticiasHome/ImagenInicial.jpg" alt="Imagén Inicial del Centro">
              </div>
            </div>
            <div class="col-md-8 align-self-center">
              <div class="card-notice bg-c7 sbr-1 m-2">
                <h2>Información de la Escuela</h2>
                <hr>
                <textarea name="" id="">Escuelas de Educacion Primaria del Sector Privado. Colegio Centro Cultural Petatlán busca la satisfacción de sus clientes con personal especialista y un trato cercano al cliente. Se imparte los tres niveles de la Educación Basica.</textarea>
              </div>
            </div>
          </div>
        </article>
    </section>

    <div style="background-color: rgb(81, 81, 81); padding:20px; margin-top: 2rem;" >
      <main class="container">
        <h1 class="sbr-text">Noticias de la Ecuela</h1>
        <%if(numNoticias >= 1){%>
          <% noticiaHome.forEach((noticia) => { %>
              <%if(noticia.tipoNoticia === 'Informativa'){%>
                  <div class="admin_noticia noticia-informativa">
                      <div class="noticia__header">
                          <h3><i class="bi bi-info-circle"></i> <%= noticia.titulo %></h3>
                          <p><i class="bi bi-calendar3"></i> <%= noticia.fecha %></p>
                      </div>                    
                      <div class="noticia__body" style="border-radius: 0 0 10px 10px;">
                          <textarea disabled><%= noticia.bodyNoticia %></textarea>
                          <%if(noticia.link_noticia === 'sin enlace'){%>
                          <%}else{%>
                              <a class="btn" href="<%= noticia.link_noticia %>">Abrir enlace</a>
                          <%}%>
                      </div>
                  </div><!--fin de .admin__noticia-->
              <%}else if(noticia.tipoNoticia === 'Importante'){%>
                  <div class="admin_noticia noticia-importante">
                      <div class="noticia__header">
                          <h3><i class="bi bi-exclamation-triangle"></i> <%= noticia.titulo %></h3>
                          <p><i class="bi bi-calendar3"></i> <%= noticia.fecha %></p>
                      </div>                    
                      <div class="noticia__body" style="border-radius: 0 0 10px 10px;">
                          <textarea disabled><%= noticia.bodyNoticia %></textarea>
                          <%if(noticia.link_noticia === 'sin enlace'){%>
                          <%}else{%>
                              <a class="btn" href="<%= noticia.link_noticia %>">Abrir enlace</a>
                          <%}%>
                      </div>
                  </div><!--fin de .admin__noticia-->
              <%}else if(noticia.tipoNoticia === 'Advertencia'){%>
                  <div class="admin_noticia noticia-advertencia">
                      <div class="noticia__header">
                          <h3><i class="bi bi-exclamation-diamond"></i> <%= noticia.titulo %></h3>
                          <p><i class="bi bi-calendar3"></i> <%= noticia.fecha %></p>
                      </div>                    
                      <div class="noticia__body" style="border-radius: 0 0 10px 10px;">
                          <textarea disabled><%= noticia.bodyNoticia %></textarea>
                          <%if(noticia.link_noticia === 'sin enlace'){%>
                          <%}else{%>
                              <a class="btn" href="<%= noticia.link_noticia %>">Abrir enlace</a>
                          <%}%>
                      </div>
                  </div><!--fin de .admin__noticia-->
         
          <%}})%>
      <%}else{%>
          <div class="bg-c7 sbr-1" style="width: 100%;text-align: center; border-radius: 20px;">
            <h5 style="padding: 20px;">No hay Noticias por el momento</h5>
          </div>
      <%}%>     
      </main>
    </div>




  <footer class="mainfooter bg-c7 p-3" role="contentinfo">
      <div class="footer-middle">
        <div class="copy text-center">
          <h4>Redes Sociales</h4>
          <a href="https://www.facebook.com/ControlMediosCCP" class="btn"><i class="bi bi-facebook"></i> Centro Cultural de Petatlan</a>
          <hr>
          <p class="text-center">&copy; Copyright 2022 - Centro Cultural Petatlan.  All rights reserved.</p>
        </div>
        <hr>
        <div class="text-center">
          <h5>Desarrolladores:</h5>
          <br>
          <div>
            <p>Luis Daniel de la Rosa Lucrecia</p>
            <p>Saydel Gomez Manriquez</p>
            <p>Miguel Angel Chavez Avila</p>
            <p>Node Lugardo Bravo</p>
          </div>
  
        </div>
    </div>
  </footer>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      $("textarea").each(function () {
        this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
      }).on("input", function () {
        this.style.height = "auto";
        this.style.height = (this.scrollHeight) + "px";
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>

</html>